# Ignore everything inside ipynb checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Ignore unwanted folder
google-cloud-vision-OCR-api/

# Ignore the following files/folders from src
src/model_cache/
src/trained/
data/docimsentv1/
data/error-analysis-samples/
src/__pycache__/
**/__pycache__/
# notebooks/

# Allowlisted files/folders
!.gitignore
!requirements.txt
!README.md
!scripts/
!notebooks/
!results/
!notebooks/*.ipynb
